## Aviation Accidents and Incidents (NTSB, FAA, WAAS)

En el dataset que se encuentra [aquí](https://www.kaggle.com/datasets/prathamsharma123/aviation-accidents-and-incidents-ntsb-faa-waas) se puede encontrar la información registrada sobre distintos accidentes e incidentes ocurridos desde 1985 en aviones. La idea es describir los datos registrados y analizar cada una de las variables.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
PROJ_DIR = os.path.abspath(os.path.join(os.pardir))
print(PROJ_DIR)

C:\Users\cryst\Documents\machine_learning_course\aviation_accidents

In [ ]:
file_name = 'airline_accidents.csv'
data_name = os.path.join(PROJ_DIR, 'data', 'raw', file_name)
df = pd.read_csv(data_name)

In [17]:
df.head()

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Publication Date,Unnamed: 30
0,20080125X00106,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,SNA,John Wayne - Orange County,...,Instructional,,,,,2,VMC,LANDING,02/28/2008,
1,20080206X00141,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,,,...,Unknown,,,,,1,,,02/06/2008,
2,20080129X00122,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,AXN,Chandler Field Airport,...,Personal,,,,,1,VMC,TAKEOFF,02/28/2008,
3,20080114X00045,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,PRB,Paso Robles Airport,...,Personal,,1,,,,VMC,MANEUVERING,06/20/2014,
4,20080109X00032,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,,,...,Other Work Use,,3,0,0,0,VMC,MANEUVERING,01/15/2009,

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150959 entries, 0 to 150958
Data columns (total 31 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Event Id                 150959 non-null  object
 1   Investigation Type       150959 non-null  object
 2   Accident Number          150959 non-null  object
 3   Event Date               150959 non-null  object
 4   Location                 150959 non-null  object
 5   Country                  150959 non-null  object
 6   Latitude                 150959 non-null  object
 7   Longitude                150959 non-null  object
 8   Airport Code             150959 non-null  object
 9   Airport Name             150959 non-null  object
 10  Injury Severity          150959 non-null  object
 11  Aircraft Damage          150959 non-null  object
 12  Aircraft Category        150959 non-null  object
 13  Registration Number      150959 non-null  object
 14  Make                     150959 non-null  object
 15  Model                    150959 non-null  object
 16  Amateur Built            150959 non-null  object
 17  Number of Engines        150959 non-null  object
 18  Engine Type              150959 non-null  object
 19  FAR Description          150959 non-null  object
 20  Schedule                 150959 non-null  object
 21  Purpose of Flight        150959 non-null  object
 22  Air Carrier              150959 non-null  object
 23  Total Fatal Injuries     150959 non-null  object
 24  Total Serious Injuries   150959 non-null  object
 25  Total Minor Injuries     150959 non-null  object
 26  Total Uninjured          150959 non-null  object
 27  Weather Condition        150959 non-null  object
 28  Broad Phase of Flight    150959 non-null  object
 29  Report Publication Date  150959 non-null  object
 30  Unnamed: 30              150959 non-null  object
dtypes: object(31)
memory usage: 35.7+ MB

### Análisis estadístico numérico

En esta parte del proyecto, se busca entender más las características asociadas a las variables, como las medidas de tendencia central y de dispersión, los valores atípicos y los tipos de las variables (categóricas nominales u ordinales, numéricas continuas o discretas). Además se recomienda hacer un análisis temporal de los datos.

### Análisis univariado

En esta sección, se busca encontrar relaciones de las variables a nivel univariado, teniendo en cuenta tendencias de acuerdo al comportamiento de las variables separadas por categorías.

### Análisis multivariado

En esta sección, se busca entender un poco más la correlación entre las variables, y la distribución entre las variables para conocer si existen relaciones entre ellas. Se puede hacer análisis de tipo bivariado o de más variables, de acuerdo al tipo de variables y de los objetivos que se persiguen (comparativos, de composición, de distribución).

## Sección de trabajo individual

En esta parte, se propone revisar alguna otra de las bases para realizar el respectivo análisis y limpieza. La idea es comprender muy bien los datos para dar un pequeño informe oral sobre los resultados obtenidos.

In [24]:
file_name = 'ntsb_aviation_data.csv'
data_name = os.path.join(PROJ_DIR, 'data', 'raw', file_name)
df = pd.read_csv(data_name)

In [25]:
df.head()

,NTSB_RPRT_NBR,ACFT_REGIST_NBR,ACFT_SERIAL_NBR,EV_TYPE_DESC,EVENT_LCL_DATE,LOC_STATE_CODE_STD,ARPT_NAME_STD,FLTCNDCT_DESC,OPRTR_SCHED_DESC,OPRTR_NSDC_NAME_STD,ACFT_NSDC_MAKE_STD,ACFT_NSDC_MODEL_STD,ACFT_NSDC_SERIES_STD,REPORT_STATUS,INJURY_DESC,FLIGHT_PHASE_DESC
0,ANC00FA018,N1747U,20700347,ACCIDENT,07-DEC-99,AK,NaN,PART 135: AIR TAXI & COMMUTER,SCHEDULED,GRANT AVIATION INC,CESSNA,207,UNDESIGNATED SERIES,FINAL,FATAL,CRUISE
1,ANC00FA024,N756HG,U20604099,ACCIDENT,05-FEB-00,AK,ILIAMNA,PART 135: AIR TAXI & COMMUTER,NON-SCHEDULED,ILIAMNA AIR TAXI INC,CESSNA,U206,G,FINAL,FATAL,CRUISE
2,ANC00FA052,N3935Z,18-7781,ACCIDENT,01-MAY-00,AK,NaN,PART 91: GENERAL AVIATION,NaN,NaN,PIPER,PA18,UNDESIGNATED SERIES,FINAL,FATAL,NaN
3,ANC00FA056,N6951R,MC-316,ACCIDENT,09-MAY-00,AK,MERRILL FIELD,PART 91: GENERAL AVIATION,NaN,TAKE FLIGHT ALASKA INC,BEECH,24,B24R,FINAL,NONE,NaN
4,ANC00FA076,N4762D,17272353,ACCIDENT,22-JUN-00,AK,TUNTUTULIAK,PART 91: GENERAL AVIATION,NaN,VILLAGE AVIATION INC,CESSNA,172,N,FINAL,FATAL,NaN